@charset "utf-8";

.container-fluid {
   height: 100vh;
   padding: 0px;
}
.leftinfo{
	padding-left: 24px;
}
.flex-grow-1{
	font-size: 25px;
	color: white;
}
.fa-solid{
	color: #304080;
}
.col-md-2{
	padding-left: 24px;
} 
.item_manage_memobox_table{
   background-color: #cff4fc;
   color: #055160;
   text-align:center;
   width:100%;
   height:650px;
	border-collapse: collapse;
	border-radius: 8px;
	border-style: hidden;
}
.item_manage_memobox_table tr,
.item_manage_memobox_table th,
.item_manage_memobox_table td {
   border: 1px solid  rgba(46, 91, 219);
   text-align:center;
   width: 123px;
}
.item_manage_memobox_button{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px; 
	border: none;
}
 .item_manage_memobox_memotext{
	width: 90%;
	height: 85%;
}
.item_page_btn *{
	width: 300px;
	height: 50px;
	margin: 35px 0px 10px 84px;
}
.input-itemsort{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 20px 0px 5px 0px;
}
#CategorySearch{
	width: 230px;
	padding-top: 10px;
	position:relative;
	text-align:center;
	margin-right:30px;
}
.input-itemsearch{
	width: 230px;
	position:relative;
	text-align:center;
	margin-right:65px;
}
.input-itemsearch input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 14px;
  height: 41px;
  text-align:center;
}
.input-itemsearch img {
  position : absolute;
  width: 14px;
  height: 20px;
  top: 10px;
  left: 9px;
  margin: 0;
}
.item_checkbox{
	text-align: right;
	margin: 17px 63px 15px 10px;
}
.item_checkbox  *{
	margin: 0px 2px 0px 0px;
}
 
.item_table{
	border: 4px solid white;
	width: 95%;
	margin: 0px 0px 0px 80px;
	text-align: center;
	background-color: #DBDDDE;
}
.item_table >tr>th{
	border: 2px solid white;
	height: 65px;
	background-color: #A9ADAF;
	position: sticky;
    top: -4px;
}
.item_table >tr>td{
	text-align: center; 
	border: 2px solid white;
	height: 43px;
} 
.item_table tr:not(:first-child):hover{
	background-color: #A6C5D5;
}
.item_table tr:not(:first-child):active{
	background-color: #cff4fc;
}
.item_table tr.click_active {
	background-color: #cff4fc;
}


.item_page_tablesize > tr > th:nth-child(1) {
	width: 70px;	
}
.item_page_tablesize > tr > th:nth-child(2), th:nth-child(7), th:nth-child(8) {
	width: 200px;
}
.item_page_tablesize > tr > th:nth-child(3) {
	width: 120px;
}
.item_page_tablesize > tr > th:nth-child(4), th:nth-child(5) {
	width: 160px;
}
.item_page_tablesize > tr > th:nth-child(6) {
	width: 80px;
}
.item_page_tablesize > tr > th:nth-child(9){
	width: auto;
}

.rel_page_tablesize > tr > th:nth-child(1), th:nth-child(5) {
	width: 130px;	
}
.rel_page_tablesize > tr > th:nth-child(2), th:nth-child(4) {
	width: 120px;	
}
.rel_page_tablesize > tr > th:nth-child(6) {
	width: 80px;	
}
.rel_page_tablesize > tr > th:nth-child(7) {
	width: 90px;	
}
.rel_page_tablesize > tr > th:nth-child(3), th:nth-child(8)  {
	width: 140px;	
}
.rel_page_tablesize > tr > th:nth-child(9) {
	width: 277px;	
}

.table_scroll{
	max-height: 501px;
	overflow-y : auto;
	display: flex;
	margin-right:61px;
	justify-content: flex-end;
}
.table_scroll::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
    margin-right:100px;
}
.table_scroll::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.table_scroll::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
} 
    
.item_page_footer {
    display: flex;
    justify-content: flex-end;
    margin: 0px 74px 65px 0px;
    position: fixed;
    bottom: 0;
    right: 0; 
}
 
.item_page_footer *{
	margin-left: 9px;
}  
