@charset "utf-8";

.container-fluid {
   height: 100vh;
   padding: 0px;
}

.flex-grow-1{
	font-size: 25px;
	color: white;
}
.fa-solid{
	color: #304080;
}
.col-md-2{
	padding-left: 24px;
}
.item_manage_memobox{
   border: 1px solid gray;
   background-color: white;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   margin: 0px; 
   margin-top: 40px;
   padding: 0px;
   height: 500px;
   width: 100%;
}
.item_manage_memobox_table{
   border: 2px solid purple;
   background-color: white;
   text-align:center;
   width:100%;
   height:100%; 	
}
.item_manage_memobox_table > * {
   border: 2px solid purple;
}
.item_btn_click{
	width: 250px;
	margin: 30px 5px 15px 30px;
}
.item_btn_nonclick{
	width: 250px;
	margin: 30px 10px 15px 5px;
}
.input-itemsort{
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.input-itemsort > * {
	width: 20%;
	margin: 15px
}
.input-itemsearch{
position:relative;
text-align:center;
line-height: 45px;
}
.item_checkbox{
	text-align: right;
	margin: 10px 40px 10px 10px;
}


.item_table_main{
	border:2px solid yellow;
	width: 1050px;
	margin: 15px 20px 15px 20px;
	text-align: center;
}

.item_table_main >tr{
	border:2px solid pink;
	text-align: center; 
	background-color: skyblue; 
	
}
.item_table_main >tr:not(:first-child){
	text-align: right; 
	
}
.item_table_main >tr>td{
	text-align: center; 
	border: 1px solid black;
} 
.item_table_main >tr>td:nth-child(1){
} 
.item_table_main tr:not(:first-child):hover{
	background-color: silver;
}
.item_table_main tr:not(:first-child):active{
	background-color: blue;
}

.item_table_main tr.click_active {
  background-color: blue; 
}

