@charset "UTF-8";

body {
  
  margin: 0;
  padding: 0;
  background-color: #d1f5fe; 
  height: calc(100vh -73.39px);
 
}
.fit-picture{
	width:200px;
	text-align: center;
	display: block; margin: 0px auto;
	margin-top: 80px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 40px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
