@charset "utf-8";

.container-fluid {
   height: 100vh;
   padding: 0px;
}
.col-md-3 {
   height: 100%;
   /* border: 1px solid red; */
}

.flex-grow-1{
	font-size: 25px;
	color: white;
}

.info {
	background-color: #F0F0F0;
}

.leftinfo {
	height: 100%;
	background-color: #BEBEBE;
	padding: 10px;
	padding-left: 24px;
} 


#waitList {
	width: 100%;
}

.waitButton {
	display: inline-block;
	width: 100%;
	height: 80px;
	border: none;
	background-color: aliceblue;
	text-align: left;
	padding: 1px 10px;
}

.waitingList .active {
	background-color: blue;
	color: white;
}

#listinfo:hover {
	background-color: blue;
	color:white;
}

#modifyInfo {
	margin-top: 10px;
}

.modalBtn {
	width: 100px;
}



.history, .history tr, .history th, .history td{
	border: 1px solid black;
}

.button-right {
	float: right;
}

.history {
	border: 1px solid black;
	width: 100%;
}

.loadInfo {
	display: inline-block;
	height: 30px;
}

#waitList {
	margin: 0 auto;
	text-align: center;
}

#patientMemo {
	width: 90%;
	
	background-color: lightgrey;
	text-align: center;
	height: 150px;
	padding: 5px 0px;
}


#jupsu {
	width: 95%;
	height: 100px;
	background-color: white;
	display: inline-block;

	align-items: center;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
}

#hLine {
	clear: both;
}


#addMed {
	width: 65%;
	display: inline-block;
}
#medUsage {
	width: 15%;
	display: inline-block;
}

div .result_table {
	width: 100%;
	height: 150px;
	overflow: auto;
	background-color: white;
	padding: 10px;
}

#result_med {
	border: 1px solid lightgray;
	width: 100%;
	
}
#result_med > td{
	border: 1px solid lightgray;
	width: 100%;
	
}

#result_med .medName {
	width: 80%;
}

#result_med .medYang {
	width: 20%;
}

#addTh {
	width: 80%;
	display: inline-block;
}


.col-md-2 .leftinfo{
	padding-left: 24px;
}
h3{
	height: 30px;
}
.pay{
	text-align: right;
}

.list-group {
	width: 100%;
}
.form-group {
	padding: 10px 0;
}

#calendar_memo {
	margin-top: 50px;
	margin-bottom: 10px;
	height: 300px;
	background-color: lightgoldenrodyellow;
}