@charset "utf-8";

#title{
	background-color: #00AAFF;
	line-height: 50px;
}
.title-a{
	text-decoration: none;
	font-size: 25px;
	color: white;
	font-weight: bold;
}
.container-fluid {
   height: 100vh;
   padding: 0px;
}
.col-md-3 {
   height: 100%;
   /* border: 1px solid red; */
}
.vr {   /*  지울거    */
   currentColor: blue;
   color: black;

   width: 0.2px;
   font-size: 10px;
}
.verticalLine {
   width: 0.2px;
   border: 1px solid black;
   height: 100%;
}

.info {
	background-color: #F0F0F0;
}

.leftinfo {
	border: 1px solid green;
	height: 100%;
	background-color: #BEBEBE;
}

table, th, tr, td {
	border: 1px solid black;
}

#button-right {
	float: right;
}

.flex-grow-1{
	font-size: 25px;
	color: white;
}
.fa-solid{
	color: #304080;
}
.col-md-2{
	padding-left: 24px;
}
#search{
	width: 100%;
}
#search::after, ::before{
	box-sizing: border-box;
}
#search::-webkit-input-placeholder { text-align: center; }
.result{
	cursor:pointer; 
}
