@charset "utf-8";

.name{
	font-size: 20px;
	font-weight: 600;
	margin-right: 5px;
}
.p_num{
	display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: flex-end;
}
.unpaid{
	display: flex;
	margin-left: auto;
}

#search::-webkit-input-placeholder { text-align: center; }

.search_result{
	margin-top: 23px;
	max-height: 70vh;
	overFlow-y : auto;
}
.search_result::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.search_result::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.search_result::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.semi_info{
	font-size: 12px;
}
.col-md-4{
	border-right: 0px;
}
.panel{
	background-color: lightgray;
	border-radius:7px;
	margin-top: 12px;
	padding: 12px;
}
.patient_name{
	font-size: 25px;
	font-weight: bold;
}
.record_number{
	font-size: 14px;
	margin-top: 14px;
}
.patient_info{
	font-size: 15px;
}

#jupsu {
	margin-top: 12;
	width: 100%;
	height: 12vh;
	max-height: 12vh;
	background-color: white;
	display: inline-block;
	align-items: center;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
}
#jupsu::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#jupsu::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#jupsu::-webkit-scrollbar-thumb
{
  background-color: dimgray;
  border-radius: 10px;
}

.btn-outline-primary{
	margin-top: 8px;
	background-color: white;
	width: 100%;
	height: auto;
	text-align: left;
	overflow: hidden;
	padding: 3px 3px 3px 6px;
}
.record, .recipt, .current {
	background-color: rgba(243, 243, 255, 1);
	font-size: 14px;
	font-weight: bold;
	padding: 6px 12px 6px 12px;
	border-radius: 4px 4px 0 0;
}
label{
	font-size: 14px;
	font-weight: bold;
}


.history, .history tr, .history th, .history td{
	border: 1px solid black;
}
.history {
	width: 100%;
}

.loadInfo {
	display: inline-block;
	height: 30px;
}

#patientMemo {
	width: 90%;
	
	background-color: lightgrey;
	text-align: center;
	height: 150px;
	padding: 5px 0px;
}
#button-right {
	float: right;
}


#hLine {
	clear: both;
}



#result_med {
	border: 1px solid black;
	width: 100%;
	
}

h3{
	height: 30px;
}
.pay{
	text-align: right;
}

.fa-solid{
	color: #304080;
}
.leftinfo{
	padding-left: 24px;
}

.search_result{
	cursor:pointer; 
}
#text{
	background-color: lightgray;
}

.col-md-2.right{
	padding: 12px;
}

.display-flex {
    display: flex;
    justify-content: flex-start;
}
.left_text{
	margin-right: auto;
}
.font_13{
	font-size: 13px;
	font-weight: bold;
}
.font_11{
	font-size: 11px;
	font-weight: bold;
}
.font_dimgray{
	color: dimgray;
}
.font_deepskyblue{
	color: deepskyblue;
}
.event{
	cursor: pointer;	
}
.fa-solid{
	color: black;
}
.margin_bottom{
	margin-bottom: 6px;
}

.pay_update{
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;

    height: 25px;
    line-height: 25px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .17s ease,color .17s ease;
}
.pay_comp{
	background-color: darkgray;
}
.pay_end{
	margin: 12px;
	display: flex;
	justify-content: flex-end;
}

.patient_target{
	background-color: rgb(186, 220, 227);
}
.button_target{
	color: white;
    background-color: rgb(88, 101, 242);
}
.target_arrow{
	display: none;
}
.pay_select{
	width: 20%;
	height: 50px; 
	border: 1px solid black; 
	padding: 0px 6px 0px 6px; 
	box-shadow : 1px 1px 1px 0px rgb(220,220,220); 
	border-color: lightgray; 
	border-radius: 4px;
	margin-right: 16px;
	
}
.pay_select:hover {
    background-color: rgb(88, 101, 242);
    color: white;
}
.pay_check{
	color: lightgray;
}
.pay_select_target{
	background-color: rgb(88, 101, 242);
	color: white;
	
}
.pay_input, .pay_change, pay_day{
	width: 25%;
    height: 25px;
    font-size: 13px;
}
.pay_by{
	padding-left: 12px;
	color: dimgray;
}

.pay_input_result{
	padding-right: 12px;
	color: dimgray;
	margin-bottom: 6px;
}

.pay_all{
	cursor: pointer;
	color: deepskyblue;
}

.pnt{
	cursor: pointer;
}